@font-face {
    font-family: 'Rubik Doodle Shadow';
    src: local('Rubik Doodle Shadow Regular'), local('RubikDoodleShadow-Regular'),
        url('RubikDoodleShadow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h1{
    font: italic small-caps bold 50px/1.3 "Rubik Doodle Shadow";
}