.org_sty{
    background-color:tomato;
    padding:10px;
    margin:10px;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-flow:column wrap;
    color:white; 
    transition: all 0.3s;
    box-sizing:border-box;
    height:40vh;
    font-size:12px;
    border-radius:20px;
}

.org_sty:hover{
    transform: scale(1.03);

}